* {
  padding: 0;
  margin: 0;
  font-family: Lexend, sans-serif;
}

body {
  background: #090909;
  color: #fff;
  padding: 2rem;
}

h1 { 
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

img {
  border-radius: 10px;
  margin: 1rem 0;
}

.navbar {
  background: #191919;
  padding: 1rem 2rem;
  border-radius: 10px;
  display: inline-flex;
  border: 1px solid #444444;
  align-items: center;
  gap: 4rem;
  list-style: none;
  margin-bottom: 2rem;
}

ul li a {
  color: #bac8ff;
  text-decoration: none;
  font-size: 1rem;
}

.form {
  display: flex;
  gap: 1rem;
  align-items: start;
}

.form input {
  padding: 0.75rem;
  background: #222222;
  font-size: 1.2rem;
  border: 1px solid #444444;
  border-radius: 5px;
  width: 20rem;
  color: #fff;
  margin-bottom: 1rem;
}

.form button {
  padding: 0.75rem 1rem;
  background: #bac8ff;
  color: #111;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form input:focus {
  outline: none;
}

.form select {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #222222;
  border: 1px solid #444444;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
}

.form select:focus {
  outline: none;
}

.custom-select {
  position: relative;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid white;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid white;
  top: 55%;
}
