* {
  padding: 0;
  margin: 0;
  font-family: Lexend, sans-serif;
}

body {
  background: #111;
  color: #fff;
  padding: 2rem;
}

h1 { 
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

img {
  border-radius: 10px;
  margin: 1rem 0;
}
